.Home-logo {
    animation: App-logo-spin infinite 20s linear;
    display: block;
    margin: 0 auto;
    width: 300px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
